Repository bmstu-iu9/ptp2022-8-todo-list, pull requests merged in 2022-07, with the labels that each got.

#33 Создан макет списка дел
  frontend/html/todo.html
  frontend/scss/menu.scss
  frontend/scss/todo.scss
Labels: frontend

#37 Добавлена функция изменения темы
  .github/workflows/eslint.yml
  frontend/html/start_page.html
  frontend/js/start_page.ts
  frontend/scss/start.scss
  frontend/scss/todo.scss
Labels: frontend

#50 Исправлено отображение страницы входа и регистрации в мобильной версии
  frontend/html/login.html
  frontend/js/register.ts
  frontend/scss/signin.scss
Labels: bug, frontend

#49 Реализация операций с пользователями
  .github/workflows/go.yml
  backend/Dockerfile
  backend/Makefile
  backend/cmd/slavatidika/slavatidika.go
  backend/go.mod
  backend/go.sum
  backend/internal/config/config.go
  backend/internal/db/db.go
  backend/internal/entity/user.go
  backend/internal/logger/logger.go
  backend/internal/ping/api.go
  backend/internal/ping/api_test.go
  backend/internal/users/api.go
  backend/internal/users/api_test.go
  backend/internal/users/repository.go
  backend/internal/users/repository_test.go
  backend/internal/users/service.go
  backend/internal/users/service_test.go
  backend/main.go
  docker-compose.yml
  docs/openapi.yml
Labels: backend

#61 Рефакторинг логгирования
  .gitignore
  backend/Makefile
  backend/cmd/slavatidika/slavatidika.go
  backend/internal/accesslog/middleware.go
  backend/internal/accesslog/middleware_test.go
  backend/internal/config/config.go
  backend/internal/db/db.go
  backend/internal/log/log.go
  backend/internal/logger/logger.go
  backend/internal/ping/api.go
  backend/internal/ping/api_test.go
  backend/internal/users/api.go
  backend/internal/users/api_test.go
  backend/internal/users/repository.go
  backend/internal/users/repository_test.go
Labels: backend
