Repository bmstu-iu9/ptp2022-8-todo-list, pull requests merged in 2022-09, with the labels that each got.

#77 Стилевые правки хендлера /ping
  backend/internal/ping/api.go
Labels: backend

#79 Улучшение профиля
  frontend/html/inventory.html
  frontend/html/profile_page.html
  frontend/html/spa.html
  frontend/js/inventory/inventory.ts
  frontend/js/inventory/item.ts
  frontend/js/profile.ts
  frontend/js/profile/hero.ts
  frontend/js/profile/profile.ts
  frontend/js/shop/shopLoad.ts
  frontend/js/spa/index.ts
  frontend/js/spa/route.ts
  frontend/js/spa/router.ts
  frontend/scss/hero.scss
  frontend/scss/profile.scss
Labels: enhancement, frontend

#64 Рефакторинг тестов и обработки ошибок
  backend/cmd/slavatidika/slavatidika.go
  backend/go.mod
  backend/go.sum
  backend/internal/accesslog/middleware_test.go
  backend/internal/entity/user.go
  backend/internal/errors/middleware.go
  backend/internal/errors/problem.go
  backend/internal/errors/types.go
  backend/internal/ping/api_test.go
  backend/internal/router/router.go
  backend/internal/test/api.go
  backend/internal/test/checkers.go
  backend/internal/users/api.go
  backend/internal/users/api_test.go
  backend/internal/users/repository.go
  backend/internal/users/repository_test.go
  backend/internal/users/service.go
  backend/internal/users/service_test.go
  backend/internal/users/service_validate_test.go
  backend/internal/validation/validation.go
  docs/openapi.yml
Labels: backend

#87 Починил меню в магазине
  frontend/html/inventory.html
  frontend/js/inventory/inventory.ts
  frontend/scss/inventory.scss
Labels: bug, frontend

#89 Обновлен README.md
  README.md
  frontend/readme.md
Labels: documentation

#65 Добавление реализации операций с вещами
  backend/cmd/slavatidika/slavatidika.go
  backend/internal/config/config.go
  backend/internal/db/db.go
  backend/internal/entity/item.go
  backend/internal/items/api.go
  backend/internal/items/api_test.go
  backend/internal/items/repository.go
  backend/internal/items/repository_test.go
  backend/internal/items/service.go
  backend/internal/items/service_test.go
  backend/internal/users/api.go
  backend/internal/users/api_test.go
  backend/internal/users/repository.go
  backend/internal/users/repository_test.go
  backend/internal/users/service.go
  backend/internal/users/service_test.go
  backend/internal/validation/validation.go
Labels: backend

#95 Добавлена иконка на все страницы
  frontend/html/spa.html
Labels: frontend

#102 Улучшения документации
  README.md
  backend/internal/config/config.go
  backend/internal/test/checkers.go
  backend/internal/users/service.go
Labels: documentation, enhancement, backend

#103 Проверка форматирования кода на Go в CI
  .github/workflows/go.yml
  backend/.pre-commit-config.yaml
  backend/internal/accesslog/middleware.go
  backend/internal/db/db.go
  backend/internal/errors/problem.go
  backend/internal/log/log.go
  backend/internal/ping/api_test.go
  backend/internal/router/router.go
  backend/internal/users/service_validate_test.go
Labels: enhancement, backend

#85 Доработка контракта API
  docker-compose.dev.yml
  docker-compose.yml
  docs/openapi.yml
Labels: documentation

#107 Исправлено неправильное использование database/sql
  backend/internal/items/repository.go
  backend/internal/users/repository.go
Labels: bug, backend

#110 Исправлена обработка ошибок аутентификации
  backend/internal/errors/middleware.go
  backend/internal/errors/types.go
  backend/internal/users/api_test.go
  backend/internal/users/service.go
Labels: bug, backend

#112 Добавлено описание тела запроса для PUT tasks
  docs/openapi.yml
Labels: documentation, invalid
